<div id="ToDo">
    <h1>To Do List</h1>
     <input type="text" ng-model="NewTodo" placeholder="What needs to be done?">
        <button ng-click="addTodo()">Add</button>

        <ul>
<!--
            <li ng-repeat="default in defaults">
                {{default}}
                <button ng-click="removeDefault($index)" aria-label="Remove">Delete</button>
            </li>
-->

            <li ng-repeat="todo in ToDos">
                {{todo}}

                <button ng-click="removeTodo($index)" aria-label="Remove">Delete</button>

            </li>
        </ul>
</div>